@model HomePage
@{
    ViewData["Title"] = "Configure homepage";
}
<div class="content-header">
    <div class="container-fluid ">
        <div class="breadcrumb d-flex justify-content-between align-items-center shadow pl-3 pr-3">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item"><a href="/Admin/Home/Index">Home</a></li>
                <li class="breadcrumb-item"><a href="/Admin/Homepage/Index">Home</a></li>
                <li class="breadcrumb-item active">Configure</li>
            </ol>
            <div>
                <a asp-action="Index" class="btn btn-sm btn-theme"><i class="fa fa-arrow-left"></i>Back to Home</a>
            </div>
        </div>
    </div>
</div>


<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <div class="d-flex w-100">
                    <div class="">
                        <span class="card-title"> <i class="fas fa-list"></i> Site setting</span>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <form asp-action="CreateOrEdit" method="post" enctype="multipart/form-data">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Title" class="control-label"></label>
                                <input asp-for="Title" class="form-control form-theme" required />
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ShortDescription" class="control-label"></label>
                                <textarea asp-for="ShortDescription" class="form-control form-theme" required></textarea>
                                <span asp-validation-for="ShortDescription" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Content" class="control-label"></label>
                                <textarea asp-for="Content" class="form-control form-theme summernote" required></textarea>
                                <span asp-validation-for="Content" class="text-danger"></span>
                            </div>
                            <input hidden asp-for="Id"/>
                            <div class="form-group float-right">
                                <a asp-action="Index" class="btn btn-sm btn-cancel">Cancel</a>
                                <input type="submit" value="Save" class="btn btn-sm btn-create" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            $("#cmstree").addClass('menu-open');
            $("#homepagenav").addClass('active');
        });
    </script>
}