<aside class="main-sidebar sidebar-light-info elevation-4">
    <a href="/Admin/Home/Index" class="brand-link text-center">
        <img src="~/assets/logo.png" alt="Logo" class="brand-image">
        <span class="brand-text font-weight-light"><strong>BD POUCH</strong></span>
    </a>

    <div class="sidebar">
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                <li class="nav-item">
                    <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="nav-link">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Dashboard
                        </p>
                    </a>
                </li>
                <li class="nav-header">Core</li>
                <li class="nav-item" id="Catalogtreeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Core
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item" >
                            <a asp-action="Index" asp-controller="Company" class="nav-link" id="companynav">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Company</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a asp-action="Index" asp-controller="Product" class="nav-link" id="productnav">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Product</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item" id="cmstree">
                    <a href="#" class="nav-link" id="">
                        <i class="nav-icon fas fa-sitemap"></i>
                        <p>
                            CMS & Pages
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a asp-area="Admin" asp-controller="Product" asp-action="Index" class="nav-link" id="productlistnav">
                                <i class="far fa-circle nav-icon"></i>
                                <p>About us</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="Admin" asp-controller="Product" asp-action="Create"class="nav-link"  id="productCreatenav">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Contact page</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="Admin" asp-controller="HomePage" asp-action="Index" class="nav-link" id="homepagenav">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Home page</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="Admin" asp-controller="HomeBanner" asp-action="Index" class="nav-link" id="bannerNav">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Home banner</p>
                            </a>
                        </li>
                     
                    </ul>
                </li>
                
                <li class="nav-header">Others</li>

                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-user"></i>
                        <p>Contacts</p>
                    </a>
                </li>
            
                <li class="nav-header">Configuration</li>
                <li class="nav-item">
                    <a asp-area="Admin" asp-controller="SiteSetting" asp-action="Index" class="nav-link" id="settupsite">
                        <i class="nav-icon fas fa-cogs"></i>
                        <p>Site Settings</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-area="Admin" asp-controller="SeoSetup" asp-action="Index" class="nav-link" id="seoitem">
                        <i class="nav-icon fab fa-searchengin"></i>
                        <p>Index SEO</p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>