@model IEnumerable<Company>
@{
    ViewData["Title"] = "Index";
}
<style>
    .heading-container {
        min-height: 250px;
    }
</style>
<div class="banner-arightt-center heading-container">

    <div class="mt-5">
        <h1 class="display-4 color-theme">Our clients success story</h1>

        <div>
            <img src="~/assets/images/barcode_banner-1536x322.jpg" height="80" />
        </div>
    </div>
</div>

<div class="display-catalog">
    <div class="mt-4">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-2 col-lg-2 col-sm-4 col-6 p-1">
                    <a class="company-link company-link-hover" asp-action="Details" asp-route-id="@item.Id">
                        <div class="bg-white company-card rounded p-2">
                            <div class="d-flex justify-content-center">
                                <img class="mt-3 company-link-logo" src="@Url.Content(item.CompanyLogo)" height="80" />
                            </div>
                            <div class="company-link-footer">
                                <h6 class="">
                                    @item.CompanyBrandName
                                </h6>
                            </div>
                        </div>
                    </a>
                </div>

            }

        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $("#nav_company").addClass('active');
        });
    </script>
}