
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    @await Component.InvokeAsync("HeaderWithSeo")
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/fontawesome-free-5.15.4/fontawesome-free-5.15.4-web/css/all.min.css" />
    <link href="~/lib/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/deftui.css">
    <link rel="stylesheet" href="~/css/media.css">
</head>
<body>
    <div class="humberger__menu__overlay"></div>
    <div class="header section-header">
        <div class="msp_nabvar">
            <nav class="navbar navbar-expand-lg navbar-light msp-navbar bg-white fixed-top">
                <div class="container-fluid">
                    <div class="navbar-brand">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                            <i class="fas fa-list-ul"></i>
                        </button>
                        <a href="/home/index">
                            @await Component.InvokeAsync("LogoInfo")
                        </a>
                    </div>

                    <div class="collapse navbar-collapse msp-nave-add-classs" id="navbarNavDropdown">
                        <div class="msp-logo">
                            <div class="d-flex justify-content-between">
                                @await Component.InvokeAsync("LogoInfo")
                                <a class="msp-close">
                                    <i class="fas fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <ul class="navbar-nav ml-auto mr-auto">
                      

                            <li class="nav-item">
                                <a class="nav-link" asp-action="AboutUs" asp-controller="Home" id="nav_aboutus">About us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-action="Index" asp-controller="Company" id="nav_company">Clients</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-action="Index" asp-controller="OptimizationSupport"  id="nav_ops">Optimization support</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-action="Index" asp-controller="CountryCode" id="nav_cc">Country codes</a>
                            </li>


                        </ul>


                    </div>

                    <div class="d-flex justify-content-end left-navItem">
                       
                            <div class="nav-item">
                                <a class="btn btn-theme" asp-action="Login" asp-controller="Account">Contact</a>
                            </div>
                      
                    </div>
                </div>
            </nav>
        </div>
    </div>


    <div class=" mt-60">
        @RenderBody()
    </div>

    <footer class="footer">

        <div class="d-flex justify-content-center m-1 pt-4">
            @await Component.InvokeAsync("LogoInfo")
        </div>
        <div class="d-flex justify-content-center">
            <a class="footer-info-links">About us</a>
            <a class="footer-info-links">Help</a>
            <a class="footer-info-links">Contact</a>
            <a class="footer-info-links">Career</a>
            <a class="footer-info-links">Hire us</a>
        </div>
        <div class="d-flex justify-content-center">
            <a class="footer-service-links">Privacy policy</a>
            <a class="footer-service-links">Refund poliy</a>
            <a class="footer-service-links">Warranty policy</a>
            <a class="footer-service-links">Support policy</a>
        </div>
        <div class="d-flex justify-content-center pt-2 pb-3">
            <span class="footer-credit">© @DateTime.Now.Year DEFT UI - All rights reserved</span>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/msp.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>